<section class="bg-[#f2f1ed] py-16">
  <div class="grid gap-3 px-5 container mx-auto">
    <h2 class="text-5xl font-bold lg:text-7xl lg:text-center">
      Frequently Asked Questions
    </h2>
    <p class="text-xl lg:text-2xl lg:text-center">
      Here are some of the most common questions we get asked.
    </p>
    <details open>
      <summary class="text-xl font-bold">Why Ubuntu Based?</summary>
      <p class="text-xl">
        Vanilla OS aims to be a stable and compatible distribution. Ubuntu is a
        distribution that respects both of these canons, being updated with
        strict control, without having to give up functionality and security.
      </p>
    </details>
    <details>
      <summary class="text-xl font-bold">Why not a rolling release?</summary>
      <p class="text-xl">
        Vanilla OS aims to be a stable and compatible distribution. Ubuntu is a
        distribution that respects both of these canons, being updated with
        strict control, without having to give up functionality and security.
      </p>
      <p class="text-xl">
        Thanks to Flatpak, Snap and Appimage, the user can always have the
        latest version of the applications they use, without having to wait for
        the next release of Vanilla OS.
      </p>
    </details>
    <details>
      <summary class="text-xl font-bold">Why not OStree or [name_here]</summary>
      <p class="text-xl">
        Vanilla OS uses an A/B structure (<a href="#">ABRoot</a>), which
        transacts updates atomically between two root micro partitions. The
        benefits of this system are the guarantee that the system is altered
        only when the entire transaction is successful (concept of atomicity),
        furthermore, the double root partition structure allows you to roll back
        to the previous state, directly from your boot, you will always have a
        home to come back to.
      </p>
      <p class="text-xl">
        This structure, unlike others, is compatible with already existing
        distributions and does not require a complex setup and allows easy
        re-initialization of the system without data loss.
      </p>
    </details>
  </div>
</section>
