---
import { Image } from "@astrojs/image/components";
const year = new Date().getFullYear();
---

<footer>
  <div class="bg-[#f2f1ed] py-16">
    <section class="grid gap-14 px-5 lg:grid-cols-2 container mx-auto">
      <div class="grid gap-3">
        <Image
          src="/logos/vanilla-logo.png"
          width={248}
          height={87}
          alt="VanillaOS logo"
          format="webp"
          class="w-32"
        />
        <p>Made with ❤️ by the Vanilla OS Contributors.</p>
      </div>
      <div class="grid gap-3">
        <p>
          Vanilla OS is a Free and Open Source project.
          <a class="border-b border-dotted border-[#282828]" href="#"
            >Learn here</a
          >
          how to get involved.
        </p>
        <p>
          <small
            >Every software and component is licensed under different Open
            Source licenses.
          </small>
        </p>
      </div>
    </section>
  </div>
  <div class="bg-[#e4e3df] py-16 grid gap-10">
    <section class="grid lg:grid-cols-4 container mx-auto gap-3 px-5">
      <div class="grid gap-5 py-2">
        <h2 class="text-xl font-bold">Legal</h2>
        <ul class="grid gap-1">
          <li>
            <a class="border-b border-dotted border-[#282828]" href="#"
              >Cookies</a
            >
          </li>
          <li>
            <a class="border-b border-dotted border-[#282828]" href="#">Logos</a
            >
          </li>
          <li>
            <a class="border-b border-dotted border-[#282828]" href="#"
              >Funding</a
            >
          </li>
        </ul>
      </div>
      <div class="grid gap-5 py-2">
        <h2 class="text-xl font-bold">Community</h2>
        <ul class="grid gap-1">
          <li>
            <a class="border-b border-dotted border-[#282828]" href="#"
              >Our Community</a
            >
          </li>
          <li>
            <a class="border-b border-dotted border-[#282828]" href="#"
              >Code of Conduct</a
            >
          </li>
          <li>
            <a class="border-b border-dotted border-[#282828]" href="#"
              >Get involved</a
            >
          </li>
        </ul>
      </div>
      <div class="grid gap-5 py-2">
        <h2 class="text-xl font-bold">Social</h2>
        <ul class="grid gap-1">
          <li>
            <a class="border-b border-dotted border-[#282828]" href="#"
              >Discord</a
            >
          </li>
          <li>
            <a class="border-b border-dotted border-[#282828]" href="#"
              >GitHub</a
            >
          </li>
          <li>
            <a class="border-b border-dotted border-[#282828]" href="#"
              >Mastodon</a
            >
          </li>
        </ul>
      </div>
      <div class="grid gap-5 py-2">
        <h2 class="text-xl font-bold">Support</h2>
        <ul class="grid gap-1">
          <li>
            <a class="border-b border-dotted border-[#282828]" href="#"
              >Docummentation</a
            >
          </li>
          <li>
            <a class="border-b border-dotted border-[#282828]" href="#"
              >Community Support</a
            >
          </li>
          <li>
            <a class="border-b border-dotted border-[#282828]" href="#"
              >Source Code</a
            >
          </li>
        </ul>
      </div>
    </section>
    <small class="text-center">
      Copyrigth © {year}
      <a href="#">fabricators.ltd</a>
    </small>
  </div>
</footer>
